body {
text-align: center;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
font-size: 45px;
letter-spacing: 1px;
color: #ffffff;
margin: 0;
}

a {
font-family: "Raleway", serif;
color: #f15b31;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
text-decoration: none;
margin-right: 20px;
margin-left: 20px;
font-color: #ffffff;
}

h2 {
font-family: "Raleway", serif;
color: #0d2c40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
text-decoration: none;
}

p {
	font-family: "Droid serif";
	line-height: 26px;
	font-size: 18px;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	}

body {
	margin: 0;

}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}
 main {
 	width: 850px;
 	margin-top: 35px;
 	margin-bottom: 35px;
 	margin-left: auto;
 	margin-right: auto;
 }

 img {
 	margin-top: 40px;
 	margin-left: 8px;
 	margin-right: 8px;
 }




